#aboutMeBody {
    min-height: 90vh;
}

#home-left {
    height: 250px;
}

#home-left h1 {
    font-size: 600%;
    color: var(--green);
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    /* font-style: italic; */
    /* text-shadow: 7px 7px var(--green); */

}

#home-left h2 {
    /* font-size: 300%; */
    color: var(--green);
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    /* font-style: italic; */
    /* text-shadow: 7px 7px var(--green); */
}

.myImg {
    /* border: 1px solid var(--green); */

    width: 550px;
    height: 550px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.myPortraitBox {
    min-height: 45vh
}

@media screen and (max-width: 1050px) {
    .name {
        font-size: 700%;
    }
}