.name {
    font-size: 800%;
    text-shadow: 7px 7px var(--green);
}

.aboutMeBody {
    height: 75vh
}

.leftContainer {
    height: 70%;
}

.myImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
}

.myPortraitBox {
    height: 55vh;
}