:root {
    --primary: rgb(136, 211, 255);
    --secondary: rgb(211, 115, 131);
    --dark: rgb(11, 35, 75)
}

body {
    background-image: url('../assets/bg9.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    z-index: -1;
}

.roboto {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-primary {
    color: var(--primary);
}

.font-secondary {
    color: var(--secondary);
}

.fade {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}