:root {
    --primary: rgb(38, 212, 16);
    --secondary: rgb(15, 80, 15);
    --dark: rgb(0, 0, 0);
}

body {
    min-height: 100vh;
    z-index: -1;
    background-image: linear-gradient(to bottom right, var(--dark) 45%, var(--secondary) 60%, var(--dark) 85%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-dark {
    background-color: var(--dark);
}

.roboto {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-primary {
    color: var(--primary);
}

.font-secondary {
    color: var(--secondary);
}

.fade {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}