.myForm {
    font-size: 150%;
}

.alert {
    position: fixed !important;
    top: 10% !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

@media screen and (max-width: 768px) {
    .myForm label {
        font-size: 20px;
    }

}