footer {
    height: 15vh;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    color: white;
}

.footer-icon {
    height: 75px;
    width: auto;
    transition: all 0.35s;

}

.footer-icon:hover {
    opacity: 0.35;
}

@media screen and (max-width: 768px) {
    footer {
        height: auto;
    }

    .footer-icon {
        height: 50px;
    }

}