footer {
    height: 15vh;
}

footer p {
    color: white;
}

footer a {
    height: 50px;
    transition: all 0.35s;
}

footer a:hover {
    opacity: 0.35;
}

footer a img {
    height: 100%;
    width: 100%;
}