header {
    height: 15vh;
}

.logo {
    height: 100px;
    width: 200px;
    color: var(--primary);
    text-align: center;
    text-decoration: none;
    margin-left: 15px;
    margin-top: 5px;
}

.logo h1 {
    font-size: 80px;
    height: 100%;
    width: 100%;
}

#TB {
    height: 100%;
    border-bottom: 3px;
    border-top: 3px;
    border-radius: 50px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-bottom-color: var(--primary);
    border-top-color: var(--secondary);
}

header img {
    padding: 15px;
    object-fit: cover;
}

nav {
    font-size: 32px;
    list-style: none;
    height: 150px;
}

nav li {
    height: 100%;
    display: flex;
}

nav li a {
    height: 100%;
    width: 100%;
    padding: 5px 15px;
    text-decoration: none;
    color: var(--primary);
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: transparent;
    border-radius: 50px;
    transition: all 0.25s;
}

nav li a:hover {
    color: var(--secondary);
}

nav li .active {
    color: var(--secondary);
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: var(--secondary);
    border-radius: 50px;
    transition: all 0.25s;
}

@media screen and (max-width: 1200px) {
    .logo {
        height: 90px;
        width: 180px;
    }

    .logo h1 {
        font-size: 68px;
    }

    nav {
        font-size: 24px;
    }
}

@media screen and (max-width: 992px) {
    .logo {
        height: 75px;
        width: 150px;
    }

    .logo h1 {
        font-size: 55px;
    }

    nav {
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        margin-left: 0px;
    }

    nav {
        color: var(--primary);
        position: absolute;
        top: 10px;
        right: 30px;
    }

    nav span {
        font-size: 32px;
    }

    .dropdown-menu {
        background-color: var(--dark) !important;
        border: 1px solid var(--secondary) !important;
    }

    .dropdown-menu li {
        border-bottom: 1px solid var(--secondary);
    }
}