header {
    height: 15vh;
}

header h1 {
    font-size: 300%;
    color: var(--primary);
    text-align: center;
    padding: 0px 5px;
}

header img {
    padding: 15px;
    object-fit: cover;
}

.myNav {
    font-size: 180%;
    list-style: none;
    height: 50px;
}

.myNav li {
    height: 100%;
    display: flex;
}

.myNav li a {
    height: 100%;
    padding: 5px 15px;
    text-decoration: none;
    color: var(--primary);
    border-radius: 0px 0px 10px 10px;
    transition: all 0.25s;
}

.myNav li a:hover {
    color: var(--secondary);
}

.myNav li .active {
    background-color: var(--secondary);
    color: white;
    transition: all 0.25s;
}

.myNav li .active:hover {
    color: white;
}