.card-container {
    position: relative;
    top: 75px;
    width: 30%;
    height: 21vw;
    transition: all .5s ease-in-out;
}

.card-container:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card-container.active:hover {
    transform: none;
}

.project-card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.project-card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.project-card h2 {
    color: white;
    background-color: var(--dark);
    text-align: center;
    padding: 5px 0px;
    border-width: 0px 1px 1px 1px;
    border-radius: 0px 0px 10px 10px;
    border-style: solid;
    border-color: var(--primary);
}

.proj-details {
    position: fixed;
    top: 10px;
    left: 50%;
    width: 98vw;
    height: 98vh;
    transform: translate(-50%, 0%);
    color: white;
    background-color: var(--dark);
    border: 1px solid var(--primary);
    border-radius: 10px;
    margin: 0px;
    z-index: 2;
}

.proj-details h1 {
    background-color: var(--primary);
    color: var(--dark);
    border-radius: 10px 10px 0px 0px;
    height: 57px;
}

.scroll-details h3 {
    /* border-top: 1px solid var(--primary); */
    border-bottom: 1px solid var(--primary);
    /* border-left: 1px solid var(--primary); */
    color: var(--primary);
    margin: 0px 10px;
}

.proj-details .close {
    position: absolute;
    font-weight: 1000;
    top: 5px;
    right: 25px;
    color: var(--secondary);
    cursor: pointer;
}

.proj-details img {
    border-radius: 10px;
}

.scroll-left {
    overflow-y: auto;
    max-height: 90vh;
}

.scroll-details {
    overflow-y: auto;
    max-height: 90vh;
}

.details-text {
    font-size: 21px;
}

.flipped {
    transform: rotate(180deg);
}

.myImgBox {
    height: 20vh;
}

/* .tech-container {
    max-height: 10vh;
} */

h5 {
    min-height: 8vh;
}

@media screen and (max-height: 800px) {
    .scroll-left {
        max-height: 85vh;
    }

    .scroll-details {
        max-height: 85vh;
    }
}

@media screen and (max-width: 1630px) {
    .details-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 1400px) {
    .project-card h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 1200px) {
    .tech-container {
        max-height: 100vh;
    }

    .project-card h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    .card-container {
        top: 0px;
        width: 500px;
        height: 350px;
        transition: all .5s ease-in-out;
    }

    .project-card h2 {
        font-size: 32px;
    }
}

@media screen and (max-width: 768px) {
    .proj-details {
        width: 98vw;
        height: 98vh;
    }

    .scroll-left {
        max-height: 10000px;
        padding-bottom: 15px;
    }

    .scroll-details {
        padding: 0px 20px;
    }
}

@media screen and (max-width: 576px) {
    .card-container {
        width: 300px;
        height: 200px;
        transition: all .5s ease-in-out;
        margin: 10px;
    }

    .project-card h2 {
        font-size: 20px;
    }
}