/* 8.5 x 11*/
:root {
    --resume-multiplier: 100px;
}

#pdf-download {
    width: calc(8.5 * var(--resume-multiplier));
    font-size: calc(0.30 * var(--resume-multiplier));
}

#resume {
    width: calc(8.5 * var(--resume-multiplier));
    height: auto;
    overflow: hidden;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

#resume h1 {
    font-size: calc(0.42 * var(--resume-multiplier));
    margin: 0px;
}

#resume h2 {
    border-bottom: 2px solid var(--dark);
    font-size: calc(0.25 * var(--resume-multiplier));
    margin-bottom: calc(.01 * var(--resume-multiplier));
    font-weight: 600;
}

#resume h3 {
    margin: 0px;
    font-size: calc(0.207 * var(--resume-multiplier)) !important;
    font-weight: 600;
    text-decoration: underline;
}

#resume h4 {
    margin: 0px;
    font-size: calc(0.1944 * var(--resume-multiplier)) !important;
}

#resume-header img {
    width: calc(1.9 * var(--resume-multiplier));
    height: calc(1.9 * var(--resume-multiplier));
    border-radius: 7px;
    object-fit: cover;
    object-position: center 20%;
    flex-shrink: 0;
    margin: calc(0.097222 * var(--resume-multiplier)) calc(0.46 * var(--resume-multiplier));
}

#resume p {
    font-size: calc(0.15833 * var(--resume-multiplier));
    line-height: 1.25;
}

#resume ul {
    margin-bottom: calc(0.041667 * var(--resume-multiplier));
}

#left-column {
    width: calc(5.75 * var(--resume-multiplier));
    padding-top: calc(0.05 * var(--resume-multiplier));
}

#left-column h2 {
    font-size: calc(0.21 * var(--resume-multiplier));
    font-weight: 600;
    margin-top: calc(0.05 * var(--resume-multiplier));
}

#left-column li {
    font-size: calc(0.16 * var(--resume-multiplier));
    line-height: normal;
}

#contact li {
    margin: calc(0.006944 * var(--resume-multiplier)) 0px;
    font-size: calc(0.17 * var(--resume-multiplier));
}

#resume a {
    text-decoration: none !important;
    font-weight: normal !important;
    color: black;
}

/* These are the ul on left */
.skills {
    margin: calc(0.0139 * var(--resume-multiplier)) 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}

.skills li {
    min-width: 50%;
    margin: calc(0.02 * var(--resume-multiplier)) 0px;
}

#right-column {
    border-left: 1px solid var(--dark);
    padding-top: calc(0.05 * var(--resume-multiplier));
}

#right-column a {
    font-style: italic;
    margin: calc(-0.025 * var(--resume-multiplier)) 0;
    font-size: calc(0.17 * var(--resume-multiplier));
}

#right-column li {
    line-height: calc(0.1925 * var(--resume-multiplier));
    font-size: calc(0.17 * var(--resume-multiplier));
}

.right-column-margins {
    margin-top: calc(0.07 * var(--resume-multiplier)) !important;
}

.other-exp {
    margin-top: calc(0.06 * var(--resume-multiplier)) !important;
}

@media screen and (max-width: 1200px) {
    :root {
        --resume-multiplier: 100px;
    }
}

@media screen and (max-width: 992px) {
    :root {
        --resume-multiplier: 90px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --resume-multiplier: 62px;
    }

    #left-column {
        padding-bottom: 30px;
    }

    #contact li {
        font-size: calc(0.148 * var(--resume-multiplier));
    }
}

@media screen and (max-width: 576px) {
    :root {
        --resume-multiplier: 41px;
    }

    #resume ul {
        padding-inline-start: 20px;
    }

    #left-column ul {
        padding-inline-start: 0px !important;
    }

    #contact li {
        margin: calc(0.005944 * var(--resume-multiplier)) 0px;
        font-size: calc(0.137 * var(--resume-multiplier));
    }
}