/* 8.5 x 11*/
:root {
    --resume-multiplier: 120px;
}

#pdf-download {
    width: calc(8.5 * var(--resume-multiplier));
    font-size: 32px;
}

#resume {
    width: calc(8.5 * var(--resume-multiplier));
    height: calc(11 * var(--resume-multiplier));
    overflow: hidden;
}

#resume h1 {
    font-size: calc(0.42 * var(--resume-multiplier));
    margin: 0px;
}

#resume h2 {
    border-bottom: 2px solid var(--dark);
    font-size: calc(0.25 * var(--resume-multiplier));
    margin-bottom: calc(.02778 * var(--resume-multiplier));
    font-weight: 600;
}

#resume h3 {
    margin: 0px;
    font-size: calc(0.22222 * var(--resume-multiplier)) !important;
    font-weight: 600;
}

#resume h4 {
    margin: 0px;
    font-size: calc(0.1944 * var(--resume-multiplier)) !important;
}

#resume-header img {
    width: calc(2.292 * var(--resume-multiplier));
    height: calc(2.292 * var(--resume-multiplier));
    border-radius: 7px;
    object-fit: cover;
    object-position: center 20%;
    flex-shrink: 0;
    margin: calc(0.097222 * var(--resume-multiplier));
}

#resume p {
    font-size: calc(0.15833 * var(--resume-multiplier));
}

#resume ul {
    margin-bottom: calc(0.041667 * var(--resume-multiplier));
}

#resume li {
    font-size: calc(0.15833 * var(--resume-multiplier));
    line-height: normal;
}

#left-column {
    width: calc(4.0278 * var(--resume-multiplier));
}

#contact li {
    margin: calc(0.006944 * var(--resume-multiplier)) 0px;
    font-size: calc(0.15278 * var(--resume-multiplier));
}

.skills {
    margin: calc(0.0139 * var(--resume-multiplier)) 0px;
}

.skills p {
    background-color: var(--dark);
    color: white;
    border: 1px solid var(--dark);
    border-radius: 5px;
    margin: calc(0.0139 * var(--resume-multiplier));
    padding: calc(0.0139 * var(--resume-multiplier)) calc(0.041667 * var(--resume-multiplier));
}

.myButton {
    background-image: linear-gradient(to bottom right, var(--green), var(--green));
}

@media screen and (max-width: 1200px) {
    :root {
        --resume-multiplier: 100px;
    }
}

@media screen and (max-width: 992px) {
    :root {
        --resume-multiplier: 90px;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --resume-multiplier: 62px;
    }

    #resume {
        height: auto;
    }

    #left-column {
        padding-bottom: 30px;
    }

    #contact li {
        font-size: calc(0.148 * var(--resume-multiplier));
    }
}

@media screen and (max-width: 576px) {
    :root {
        --resume-multiplier: 41px;
    }

    #resume ul {
        padding-inline-start: 20px;
    }

    #left-column ul {
        padding-inline-start: 0px !important;
    }

    #contact li {
        margin: calc(0.005944 * var(--resume-multiplier)) 0px;
        font-size: calc(0.137 * var(--resume-multiplier));
    }
}